<%= "Message" %>

<p>
  <strong>Name:</strong>
  <%= @message.author %>
</p>
<p>
  <strong>Price:</strong>
  <%= @message.dialog_partner %>
</p>
<p>
  <strong>Released At:</strong>
  <%= @message.timestamp %>
</p>

